@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

@rendermode InteractiveServer


<PageTitle>Admin Panel</PageTitle>

<h3>Wybierz datę</h3>
<div class="input-group mb-3">
    <input type="date" class="form-control" @bind="selectedDate" />
    
   
</div>
<h3>Wyszukaj piosenkę</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Wpisz tytuł lub wykonawcę..." @bind="searchQuery"
        @bind:event="oninput" />
    <button class="btn btn-primary" @onclick="SearchSongs" disabled="@isLoading">
        Szukaj
    </button>
</div>

@if (isLoading)
{
    <p>Wyszukiwanie...</p>
}

@if (songs != null && songs.Any())
{
    <div style="height: 25vh; overflow-y: auto; border: 1px solid #ccc; padding: 10px; border-radius: 6px;">
        <ul class="list-unstyled">
            @foreach (var song in songs)
            {
                <li class="mb-2">
                    <strong>@song.Title</strong> - @song.Artist (@song.Album)
                    <button class="btn btn-sm btn-success ms-2" @onclick="() => SetTodaysGame(song.SpotifyId)">
                        Ustaw jako dzisiejszą id:
                        @song.SpotifyId
                    </button>
                </li>
            }
        </ul>
    </div>
}
else if (!string.IsNullOrWhiteSpace(searchQuery) && !isLoading)
{
    <p>Brak wyników.</p>
}

@if (todaysGames != null && todaysGames.Any()){
    foreach(var game in todaysGames){
        <li class="mb-2">
            @game.Date ---> @game.SpotifySongId
        </li>
 
    }
    
}







